{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "tabWidth": 2,
  "parser": "typescript",
  "importOrder": [
    "^react(.*)",
    "^@\\b(?:(?!\\/)\\w)+\\b",
    "^\\w+",
    "@\\/(.*)",
    "^([.]+\\/(\\b(?:(?!.*?css$|.*?scss$)\\w)+\\b)|(\\.\\.)+\\/)",
    "\\/*.*.s?css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "printWidth": 120
}
